<ion-header>
  <ion-toolbar>
    <ion-buttons slot="star">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons>
      <ion-title>Avatar</ion-title>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="\assets/leo.jpeg" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-chip>
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="\assets/leo.jpeg" />
    </ion-avatar>
    <ion-label>Leonardo Zambrano</ion-label>
  </ion-chip>
</ion-content>
